@use '../../theme.module.scss';
@use 'sass:color';


.container {
  display: flex;
  flex-direction: column;

  & nav {
    display: flex;
    padding: 0.5em 1em;
    border-bottom: 0.125em solid color.adjust(theme.$primary, $alpha: -0.5);
    flex-direction: row; gap: 1em;
    justify-content: space-between; align-items: center;

    & h1 {
      font-weight: normal;
      font-size: 1.25em;
    }
  }
}

.loading {
  padding: 1em;
  opacity: 0.5;
}

.mail {
  padding: 0.25em 1em;
}

.mail-list {
  display: flex;
  padding: 0.5em 1em; margin: 0;
  list-style: none;
  flex-direction: column; gap: 1em;

  & li {
    & > div {
      display: flex;
      margin-bottom: 0.5em;
      gap: 0 0.5em;
      align-items: center;
      flex-wrap: wrap;

      & .from {
        opacity: 0.75;
      }

      & h3 {
        font-size: 1.25em;
        font-weight: normal; font-style: italic;
      }

      & .date {
        font-size: 0.75em;
        opacity: 0.5;
        text-align: right;
        flex-grow: 1;
      }
    }

    & > .content { margin: 0 }
  }

  & li:not(:last-of-type) {
    padding: 0 0 1em;
    border-bottom: 0.125em solid color.adjust(theme.$primary, $alpha: -0.75);
  }
}
